body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgba(8, 68, 128, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 700px;
    height: 650px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Заголовки */
.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text-box h2 {
    font-size: 15px;
    color: #808080;

}

/**/
.container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

/* введення значень */
.input {
    display: flex;
    align-items: center;
    gap: 30px;
}

.input input {
    width: 488px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    border-radius: 5px;
}
.input button:hover {
    background-color: #808080;
}
/*...форма...*/
.adding {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.adding h3 {
    font-size: 15px;
    color: #808080;
}

select {
    width: 500px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
/*....кнопки....*/
.parallel {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 400px;
    gap: 20px;
}

.buttons button {
    width: 150px;
    padding: 8px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    border-radius: 5px;
}

.buttons button:nth-child(3) {
    width: 100px;
}

.buttons button:hover {
    background-color: #808080;
}

#errorMessage {
    font-size: 20px;
    color: rgba(255,0,0,0.43);
}
